div {
    width: 100px;
}

body {
    font-family: Raleway, sans-serif;
    font-size: 5px;
}

h1 {
    border-bottom: 2px rgba( 0, 0, 0, .2) solid;
    font-weight: 900;
    font-size: 5em;
    margin: 1.66%;
    padding-bottom: 1em;
    text-transform: uppercase;
    width: 30%;
}

#one {
    background-color: red;
    float: left;
}

#two {
    background-color: #4B0082;
    float: right;
}

img {
    width: 30%;
    float: left;
    margin: 1.66%;
}